.paragraph{
  &__img{
    text-align: center;
    margin-bottom: 44px;
  }
  &__subtitle{
    max-width: 668px;
    width: 100%;
    text-align: center;
    margin: 0 auto 94px;
  }
  &__decsr{
    max-width: 604px;
    width: 100%;
    text-align: center;
    margin: 49px auto 115px;
    line-height: 22.91px;
  }
}
.scheme-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  .arrow-left img {
    transform: rotate(-90deg);
    transform-origin: center;
  }
  .arrow-btm img {
    transform: rotate(180deg);
    transform-origin: center;
  }
  .arrow-right img {
    transform: rotate(90deg);
    transform-origin: center;
  }
}
//.arrow-top {
//  position: relative;
//  &:before {
//    position: absolute;
//    top: -12px;
//    right: -12px;
//    width: 0;
//    height: 100%;
//    content: url("../img/arrow-border.png");
//    transform: rotate(30deg);
//    transition: .2s;
//    overflow: hidden;
//  }
//  &.active {
//    &:before {
//      width: 145px;
//      overflow: visible;
//    }
//  }
//}

.scheme-row {
  display: flex;
  align-items: center;
  margin: 20px 0;
}
.scheme {
  display: grid;
  grid-template-columns: 390px 390px;
  grid-template-rows: 250px 250px;
  grid-gap: 30px;
  margin: 0 20px;
}

.scheme-card {
  position: relative;
  img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .card-info {
    width: 100%;
    height: 100%;
    position: relative;
    background: rgba(0, 0, 0, 0.5);
  }
  .card-name {
    position: absolute;
    left: 46px;
    bottom: 118px;
    color: #ffffff;
    font-family: 'Oswald', sans-serif;
    font-size: 32px;
    font-weight: 500;
    z-index: 2;
  }
  .card-link {
    background: $accent;
    width: 153px;
    height: 47px;
    border-radius: 24px;
    z-index: 2;
    position: absolute;
    bottom: 42px;
    left: 46px;
    a {
      color: #ffffff;
      font-family: 'Oswald', sans-serif;
      font-size: 18px;
      font-weight: 600;
      width: 100%;
      height: 100%;
      display: inline-block;
      text-align: center;
      line-height: 47px;
    }
  }
}

.scheme-card:nth-child(1):before {
  right: 0;
}
.scheme-card:nth-child(1).next {
  &:before {
    height: calc(100% - 66px);
  }
}

.scheme-card:nth-child(2):before {
  right: 0;

}
.scheme-card:nth-child(2).next {
  &:before {
    width: calc(100% - 80px);
  }
}

.scheme-card:nth-child(4):before {
  bottom: 0;
}
.scheme-card:nth-child(4).next {
  &:before {
    height: calc(100% - 66px);
  }
}

.scheme-card:nth-child(3).next {
  &:before {
    width: calc(100% - 80px);
  }
}