.products {
  padding-bottom: 63px;
  h1 {
    color: #222222;
    font-family: 'Oswald', sans-serif;
    font-size: 33px;
    font-weight: 700;
    position: relative;
    &:after {
      content: '';
      height: 5px;
      width: 130px;
      position: absolute;
      left: -63px;
      bottom: -14px;
      background: $accent;
    }
  }
}
.product_cat {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 53px 0 65px;
  .cat-list {
    text-align: right;
    li {
      display: inline-block;
      min-width: 130px;
      border: 1px solid #000000;
      border-radius: 23px;
      text-align: center;
      margin: 5px;
      a {
        color: #000000;
        font-family: 'Oswald', sans-serif;
        font-size: 18px;
        font-weight: 500;
        display: inline-block;
        width: 100%;
        padding: 9px 0;
      }
      &:hover {
        border: 1px solid $accent;
      }
    }

  }
}
.product {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 70px;
  align-items: center;
  margin-bottom: 70px;
  .img-block {
    max-width: 100%;
    height: auto;
  }
  h2 {
    color: #000000;
    font-family: 'Oswald', sans-serif;
    font-size: 32px;
    font-weight: 500;
    margin-bottom: 22px;
  }
  p {
    color: #555555;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    margin-bottom: 25px;
  }
  .product_params {
    color: #000000;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 12px;
  }
}