.product-item {
  padding-bottom: 63px;
  h1 {
    color: #222222;
    font-family: 'Oswald', sans-serif;
    font-size: 33px;
    font-weight: 700;
    position: relative;
    margin-top: -17px;

    &:after {
      content: '';
      height: 5px;
      width: 130px;
      position: absolute;
      left: -63px;
      bottom: -14px;
      background: $accent;
    }
  }

  .product_cat {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 53px 0 65px;

    .cat-list {
      text-align: right;

      li {
        display: inline-block;
        min-width: 130px;
        border: 1px solid #000000;
        border-radius: 23px;
        text-align: center;
        margin: 5px;

        a {
          color: #000000;
          font-family: 'Oswald', sans-serif;
          font-size: 18px;
          font-weight: 500;
          display: inline-block;
          width: 100%;
          padding: 9px;
        }

        &:hover,
        &.current-cat {
          border: 1px solid $accent;
        }
      }

    }
  }

  .product {
    display: grid;
    grid-template-columns: 50% 50%;
    align-items: center;
    margin-bottom: 70px;

    .img-block {
      padding: 0 50px;
      max-width: 100%;
      height: auto;
    }

    h2 {
      color: #000000;
      font-family: 'Oswald', sans-serif;
      font-size: 32px;
      font-weight: 500;
      margin-bottom: 22px;
    }

    p {
      color: #555555;
      font-family: 'Roboto', sans-serif;
      font-weight: 400;
      line-height: 21px;
      margin-bottom: 25px;
    }

    .product_params {
      color: #000000;
      font-family: "Roboto", sans-serif;
      font-weight: 500;
      line-height: 21px;
    }
  }

  .slick-slide {
    margin-top: auto;
    img {
      margin: 0 auto;
      max-width: 100%;
    }
  }
  .slick-arrow {
    position: absolute;
    top: calc(50% - 23px);
    height: 46px;
    width: 46px;
    border: 1px solid #555;
    -webkit-border-radius: 23px;
    border-radius: 23px;
    font-size: 0;
    opacity: 0.8;
    cursor: pointer;
    &.slick-disabled {
      opacity: 0.3;
      cursor: initial;
    }
    &:hover:not(.slick-disabled){
      opacity: 1;
    }
  }
  .slick-prev {
    background: url("../img/left-arrow.svg") no-repeat, #ffffff;
    background-size: 15px;
    background-position: 13px 50%;
    left: -50px;
  }
  .slick-next {
    background: url("../img/right-arrow.svg") no-repeat center, #ffffff;
    background-size: 15px;
    right: -50px;
  }
}