.record{
  margin-bottom: 59px;
  margin-top: 102px;
  &__row{
    @include row-flex();
    @include to($break_md) {
      justify-content: space-between;
    }
  }
  &__img{
    @include col();
    @include size(5);
    @include size-md(6);
    @include size-xs(12);
    @include shift-left(1);
    @include to($break_md) {
      @include shift-left(0);
    }
  }
  &__text{
    @include col();
    @include size(4);
    @include size-md(6);
    @include size-xs(12);
    @include shift(1);
    @include shift_md(0);
    &__title{
      position: relative;
      margin-bottom: 43px;
      &:before{
        content: '';
        height: 5px;
        width: 100%;
        right: 50%;
        z-index: $zindex-hade;
        background: $accent;
        position: absolute;
        top: calc(100% + 15px);
      }
    }
    &__decr{
      color: $text-color-grey;
      font-size: 14px;
      font-weight: 500;
      line-height: 22.91px;
    }
  }
}